.list-item-container {
  display: block;
  margin-bottom: 5vh;
  border-radius: 25px;
  padding: 2%;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
  box-shadow: 5px 5px rgba(347, 250, 255, 0.2);
  font-family: 'Source Sans Pro', sans-serif;
}

.list-item-detail-container {
  width: 80%;
  border: 1px solid rgba(247, 250, 255, 0.7);
  display: flex;
  grid-row: 1;
  grid-column: 1/4;
  flex-direction: column;
}

.list-item-title {
  margin-bottom: 1%;
  width: 80%;
  grid-row: 1;
  grid-column: 1/4;
  font-size: 1.2em;
  text-align: left;
}

.list-item-entry {
  text-align: left;
  font-size: 0.9em;
}

.list-item-status {
  text-align: right;
  color: green;
  font-size: 1.1em;
  grid-row: 1;
  grid-column: 4;
}

.list-item-btn-container {
  grid-row: 2/4;
  grid-column: 4;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.list-item-btn {
  border-radius: 25px;
  border: 1px solid rgba(42, 21, 233, 0.6);
  color: rgba(42, 21, 233, 0.8);
  transition: 0.3s all;
}

.list-item-btn:hover {
  border: 1px solid rgba(42, 21, 233, 1);
  color: rgba(42, 21, 233, 1);
}