.list-item-container {
  display: block;
  margin-bottom: 5vh;
  border: 1px solid blue;
  padding: 2%;
}

.list-item-title {
  border: 1px solid yellow;
  width: 80%;
  float: left;
  font-size: 1.2em;
}

.list-item-status {
  border: 1px solid teal;
  float: right;
  color: green;
}

.list-item-btn-container {
  border: 1px solid rebeccapurple;
  width: 20%;
  float: right;
  /* display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; */
}