@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  /* background colors */
  --list-background-color: #696969;

  /* font */
  --main-font: 'Source Sans Pro', sans-serif;

  /* calculator dimensions */
  --list-height: 72%;
  --list-width: 36%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
